<!DOCTYPE html>
<html lang="en-US" style="scroll-behavior: smooth;">
  <head>
    <title>Matcha</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://use.fontawesome.com/cefbebdc70.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='matcha.css') }}">
    <meta name="theme-color" content="#f1f1f1;">
  </head>

  <body>
    <div class="light-dark-toggle"><i id="light-dark-toggle-icon" class="fa fa-moon-o"></i></div>
    <button class="clear" onclick="clearCompleted();">Clear All Completed</button>
    <br /><br />
    <h1 style="color: var(--FONT-COLOR);font-weight: 500;text-align: center;margin-bottom: 0;font-size: 20px;">Matcha &#x1F375;</h1>
    <main id="today">
      <hr />
      <h1>Today</h1>
    </main>
    <main id="later">
      <hr />
      <h1>Later</h1>
    </main>
    <main>
      <hr />
      <h1>Notes</h1>
      <div contenteditable="true" id="notes"></div>
    </main>
    <footer>
        <p>&#169;<span id="footer-current-year"></span> Michael Yao. <a href="https://github.com/michael-s-yao/matcha" target="_blank" style="color: var(--GREEN);"><i class="fa fa-github" style="margin-right: 5px;"></i><tt>matcha</tt></a>. All rights reserved.</p>
    </footer>

    <script type="text/javascript" src="{{ url_for('static', filename='matcha.js') }}"></script>
  </body>
</html>
